<div class="container px-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-9">
      <h2 class="d-flex justify-content-center">Clients Review</h2>
      <p class="text-center">
        We place huge value on strong relationships and have seen the benefit
        they bring to our business. Customer feedback is vital in helping us to
        get it right
      </p>
    </div>
    <div class="row px-0 d-flex">
      <div class="col px-0">
        <ngb-carousel [showNavigationArrows]="false" 	[interval]="0" (slide)="onSlide($event)">
          <ng-container
            *ngFor="let review of counter; let indexOfelement = index"
          >
            <ng-template ngbSlide  [id]="indexOfelement.toString()">
              <div class="d-flex justify-content-center">
                <mat-card
                  class="review-card my-5 col-lg-5 col-md-6 col-12 px-0"
                  *ngFor="let item of reviewItem |  slice: (indexOfelement*cardPerPage) : (indexOfelement*cardPerPage) + cardPerPage"
                >
                  <mat-card-header>
                    <mat-card-title>Rakesh Sharma {{ item }}</mat-card-title>
                    <div mat-card-avatar class="example-header-image"></div>
                  </mat-card-header>
                  <mat-card-content>
                    <p>
                      The Shiba Inu is the smallest of the six original and
                      distinct spitz breeds of dog from Japan. A small, agile
                      dog that copes very well with mountainous terrain, the
                      Shiba Inu was originally bred for hunting.
                    </p>
                  </mat-card-content>
                </mat-card>
              </div>
            </ng-template>
          </ng-container>
        </ngb-carousel>
      </div>
    </div>
  </div>
</div>
