<div class="container mt-5">
    <section id="section-aboutus-top">
        <div class="container aboutus-top">
            <div class="header-title mb-3 text-center">
                <h2 class="aboutus-top-title scroll-animation">ABOUT US</h2>
            </div>
            <div class="row">
                <div class="col text-center">
                    <img class="aboutus-top-img" src="assets/images/about-section/aboutUsImage.png" alt="About us Img">
                </div>
                <div class="col aboutus-top-para">
                    <ul class="aboutus-top-text list" style="letter-spacing: 1px;">
                        <li><span>Jyoti Technosoft LLP</span> is a Surat-based company delivering top of the line
                            services to clients when it comes to web development, open source customization, custom
                            software development services.</li>
                        <li>We are fully aware of the current trends and practices of the IT industry and we always
                            strive to present our clients with better services and make a difference in their lives.
                        </li>
                        <li>We understand that not all our clients are tech savvy, and gently guide them through the
                            ever changing realm of the internet to their desired destination.We have created, launched
                            and revamped many web sites and web applications. This experience has led us to a deep
                            understanding of what makes software projects successful.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="section-aboutus-ourgoals">
        <div class="container text-center mt-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-9">
                        <div class="section-title style-two text-center">
                            <h2 class="title">Our <span>Goal</span></h2>
                            <p style="margin: 2em;">Our support team will get assistance from AI-powered suggestions,
                                making
                                it quicker than ever
                                to handle support requests. Our support team will get assistance from AI-powered
                                suggestions.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 col-sm-6" style="margin: 1em 0;">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front"
                                style="background-image: url('assets/images/about-section/aimImage.png');">
                            </div>
                            <div class="flip-card-back">
                                <h1>AIM</h1>
                                <p>Is to achieve 100% customer trust by giving them personal attention & working with
                                    them
                                    on long term business relationship.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-sm-6" style="margin: 1em 0;">
                    <div class="col">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front"
                                    style="background-image: url('assets/images/about-section/visonImage.png');">
                                </div>
                                <div class="flip-card-back">
                                    <h1>VISION</h1>
                                    <p>Is to provide best quality services to our clients by using latest technologies
                                        and
                                        help them to enhance their business globally.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-sm-6" style="margin: 1em 0;">
                    <div class="col">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front"
                                    style="background-image: url('assets/images/about-section/missionImage.png');">
                                </div>
                                <div class="flip-card-back">
                                    <h1>MISSION</h1>
                                    <p>Is to deliver maximum value to our clients helping them to progress in constantly
                                        changing and challenging competitive market.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section-aboutus-top">
        <div class="container aboutus-values">
            <div class="row">
                <div class="col">
                    <h2>VALUES</h2>
                    <table class="aboutus-values-table table">
                        <tr>
                            <td class="aboutus-values-table-title">Legitimacy:</td>
                            <td>Conformity to the law or to rules of Information.</td>
                        </tr>
                        <tr>
                            <td class="aboutus-values-table-title">Excellence:</td>
                            <td>In the sense, working passionate and provide quality of work.</td>
                        </tr>
                        <tr>
                            <td class="aboutus-values-table-title">Innovation:</td>
                            <td>Everyday new changes required.</td>
                        </tr>
                        <tr>
                            <td class="aboutus-values-table-title">Integrity:</td>
                            <td>We will be fair, honest, transparent and ethical in our conduct everything.</td>
                        </tr>
                        <tr>
                            <td class="aboutus-values-table-title">Unity:</td>
                            <td>To build hard based on tolerance, understanding and mutual co-operation, work as
                                cohesively
                                with our colleagues across the group and with our customers and partners.</td>
                        </tr>
                    </table>
                </div>
                <div class="col">
                    <img class="aboutus-values-img img-fluid" src="assets/images/about-section/valueImg.png" alt="img">
                </div>
            </div>
        </div>
    </section>
</div>