<div class="container mt-5">
    <div class="row">
        <div class="col-4">
            klkj
        </div>
        <div class="col-8">
           <h3>Contact Us</h3>
           <h5>Drop a line to us. Your word is most important to us.</h5>
            <form class="example-form" [formGroup]="contactUsForm">
                <div class="row">
                    <div class="col-6 mb-3">
                        <mat-form-field class="example-full-width col-12">
                            <mat-label>First Name *</mat-label>
                            <input class="col-12 " type="text" matInput formControlName="firstName"
                            placeholder="Jhon">
                        </mat-form-field>
                    </div>
                    <div class="col-6 mb-3">
                        <mat-form-field class="example-full-width col-12">
                            <mat-label>Last Name</mat-label>
                            <input class="col-12 " type="text" matInput formControlName="lastName"
                            placeholder="Doe">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 mb-3">
                        <mat-form-field class="example-full-width col-12">
                            <mat-label>Email Address *</mat-label>
                            <input class="col-12 " type="text" matInput formControlName="emailAddress"
                            placeholder="John@yahoomail.com">
                        </mat-form-field>
                    </div>
                    <div class="col-6 mb-3">
                        <mat-form-field class="example-full-width col-12">
                            <mat-label>Mobile No. *</mat-label>
                            <input class="col-12 " type="text" matInput formControlName="mobileNo"
                            placeholder="Phone Number">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-3">
                        <mat-form-field class="example-full-width col-12">
                            <mat-label>Subject *</mat-label>
                            <input class="col-12 " type="text" matInput formControlName="subject"
                            placeholder="subject">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-3">
                        <mat-form-field class="example-full-width col-12">
                            <mat-label>Message *</mat-label>
                            <textarea class="col-12" matInput placeholder="Write you Message" rows="5"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-3">
                        <button mat-flat-button color="accent">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>