<div class="container contact-form-wrapper mt-3 px-0">
  <div style="height: 210px; overflow: hidden;">
    <!-- <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%; z-index:200; position:relative">
      <path d="M0.00,92.27 C216.83,192.92 304.30,8.39 500.00,109.03 L500.00,0.00 L0.00,0.00 Z" style="stroke: none;fill: #3A7CC8;"></path>
    </svg> -->
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%; z-index: 200; position: relative;"><path d="M0,79.27 C118.83,201.92 260.3,-12.61 500.00,109.03 L500.00,0.00 L0.00,-13 Z" style="stroke: none; fill: #3A7CC8;"></path></svg>
    <!-- <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%; z-index: 200; position: relative;"><path d="M0,79.27 C118.83,182.92 260.3,-5.61 500.00,109.03 L500.00,0.00 L0.00,-13 Z" style="stroke: none; fill: #3A7CC8;"></path></svg> -->
    <!-- <div style="height: 641px;overflow: hidden;margin-top: -48px;"><svg viewBox="0 0 470 150" preserveAspectRatio="none" style="height: 100%; width: 100%; z-index: 200; position: relative;"><path d="M0,79.27 C118.83,201.92 260.3,-12.61 500.00,109.03 L500.00,0.00 L0.00,-13 Z" style="stroke: none;fill: rgba(54, 81, 207, 0.15);/* margin-top: 58px; */"></path></svg></div> -->
  </div>
  <div class="row px-4 mb-5">
    <div class="col-12 col-md-5 col-lg-5 px-0">
      <div class="contact-form-block px-5 pt-5">
        <div class="contact-details col-md-12">
          <h2>Contact Information</h2>
          <div class="sort-info">
            Want to know more about how we can help you grow your business?
            <br />Give us a call to speak to one of our experts today or send us
            an email using the contact form.
          </div>
          <div class="contact-details-wrap">
            <div class="card-item d-flex pb-3" *ngFor="let item of contactInfo">
              <mat-icon class="icon-width">
                <span class="material-symbols-outlined">
                  {{ item?.icon }}
                </span>
              </mat-icon>
              <a href="tel:+91 8469499488" class="hover-line">{{
                item?.descriptionDetails
              }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-form-inner-wrapper col-12 col-lg-7 col-md-7 px-5 pt-5">
      <h5 class="text-size">
        Fill up the form and our Team will get back to you within 24 hours.
      </h5>
      <form class="example-form" [formGroup]="contactUsForm">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-6 mb-3">
            <mat-form-field class="example-full-width col-12">
              <mat-label>First Name</mat-label>
              <input
                class="col-12"
                type="text"
                matInput
                formControlName="firstName"
                placeholder="Jhon"
              />
            </mat-form-field>
          </div>
          <div class="col-12 col-md-12 col-lg-6 mb-3">
            <mat-form-field class="example-full-width col-12">
              <mat-label>Last Name</mat-label>
              <input
                class="col-12"
                type="text"
                matInput
                formControlName="lastName"
                placeholder="Doe"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-12 col-lg-6 mb-3">
            <mat-form-field class="example-full-width col-12">
              <mat-label>Email Address</mat-label>
              <input
                class="col-12"
                type="text"
                matInput
                formControlName="emailAddress"
                placeholder="John@yahoomail.com"
              />
            </mat-form-field>
          </div>
          <div class="col-12 col-md-12 col-lg-6 mb-3">
            <mat-form-field class="example-full-width col-12">
              <mat-label>Mobile No. </mat-label>
              <input
                class="col-12"
                type="tel"
                matInput
                formControlName="mobileNo"
                placeholder="Phone Number"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            <mat-form-field class="example-full-width col-12 mr-2">
              <mat-label>Subject</mat-label>
              <input
                class="col-12"
                type="text"
                matInput
                formControlName="subject"
                placeholder="subject"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            <mat-form-field class="example-full-width col-12">
              <mat-label>Message</mat-label>
              <textarea
                class="col-12"
                matInput
                placeholder="Write you Message"
                rows="5"
                formControlName="description"
              ></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            <re-captcha
              formControlName="recaptcha"
              (resolved)="resolved($event)"
              siteKey="6LfmNKMZAAAAAKrDxRn2_NcHoRPW9-uFuWs98XCx"
            ></re-captcha>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-3 d-flex justify-content-end">
            <button
              mat-flat-button
              class="contact-submit-btn cursor-pointer"
              color="accent"
              [class.enable-btn]="contactUsForm.valid"
              [disabled]="!contactUsForm.valid"
            >
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

