.full-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .container-router {
      margin-top: 60px;
      margin-left: 78px;
    }
}
.bg-color {
    background-color: #f5f8fb !important;
}

.top-btn {
  position: fixed;
  bottom: 2vh;
  z-index: 999;
  float: right;
  right: 2vh;
  height: 4.2rem;
  width: 4.2rem;
  background-color: #a3c742;
  border:none;
  .bi-arrow-up-short {
    font-size: 40px;
    color: #ffffff;
  }
}