<footer class="footer bg-dark text-light">
  <div class="container">
    <div class="text-light">
      <div class="container">
        <div>
          <div class="d-flex justify-content-center h-6 pt-3">
            Stay Connected With Our Social Network
          </div>
          <div class="d-flex justify-content-center mb-4">
            <ng-container *ngFor="let item of socialMedia; index as i">
              <div class="cursor-pointer px-3">
                <mat-icon>
                  <i
                    class="bi {{ item?.icon }} position-absolute icon-size"
                  ></i>
                </mat-icon>
              </div>
            </ng-container>
          </div>
        </div>

        <div class="row footer-item-list">
          <div class="col-3" *ngFor="let item of mainHeader; index as i">
            <h4>
              {{ data.footer.title[item]?.label }}
            </h4>
            <hr />
            <h6 *ngFor="let item of data.footer.title[item]?.data">
              <span class="hover-underline-animation cursor-pointer">
                {{ item }}
              </span>
            </h6>
          </div>
        </div>
        <div class="row footer-item-list sm-view">
          <div
            class="col-12 border-bottom mb-0 px-2 py-2"
            *ngFor="let item of mainHeader; index as i"
          >
            <h4 class="mb-0 d-flex justify-content-between">
              <span>
                {{ data.footer.title[item]?.label }}
              </span>
              <span  (click)="selectMenuItem(item)">{{ selectedDropwn[item] ? '-': '+'}}</span>
            </h4>
            <ng-container *ngIf="selectedDropwn?.[item]">
              <h6
                class="col-12 mb-0 px-3 inner-content"
                *ngFor="let item of data.footer.title[item]?.data">
                <span class="hover-underline-animation cursor-pointer">
                  {{ item }}
                </span>
              </h6>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="d-none d-sm-block" />
  <div class="container text-center p-3">
      {{ copyright }}
  </div>
</footer>