$secoundary-color: #a3c742;
$primary-color: #3a7dc8;
$white-color: #ffffff;

.tech-btn {
  border: none;
}

.title{
  letter-spacing: 0.92px;
  color: #01358d;
  opacity: 1;
  font-weight: 700;
  margin-bottom: 0;
  font-family: var(--poppins-font);
}

.text-color {
  color: $secoundary-color !important;
  background-color: $white-color;
}

.tech-btn.active {
  background-color: $secoundary-color !important;
  color: $white-color !important;
}

.img-responsive {
  width: 10vh !important;
  height: 10vh !important;
}

.tech-name {
  color: $primary-color;
}


// .remove-hover {
//   svg > path {
//     transition: 0.5s ease-in;
//     fill : #909295 !important;
//   }
// }
