<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="text-center">
        <div class="header-title mb-3">
          <h2>Portfolio</h2>
        </div>
        <p>
          Jyoti Technosoft is the appropriate destination if you are seeking for
          services related to professional custom development, web development,
          or mobile app development.
        </p>
      </div>
    </div>
  </div>
  <div class="mt-2 mb-2">
    <app-multiple-carousel [src]="clientLogo"></app-multiple-carousel>
  </div>
  <div class="row">
    <div class="d-flex justify-content-center align-items-center mt-4">
      <div
        class="portfolio-menu"
        style="visibility: visible; animation-name: fadeIn"
      >
        <ng-container *ngFor="let data of sliderdataTitle | distinctvalue:'technology'" >
          <ul>
            <li
              class="filter"
              [ngClass]="filters.technology == data.technology ? 'active' : ''"
              (click)="filters.technology = data.technology"
            >
              {{ data.technology }}
            </li>
          </ul>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <ng-container *ngFor="let item of projectData | filter : filters">
      <div class="portfolio-card col-sm-12 col-md-6 col-lg-4 p-3" [routerLink]="">
        <div class="portfolio-card-details">
          <div class="portfolio-img">
            <img
              src="{{ item.backgroundImage }}"
              class="img-fluid"
              alt="project-image"
            />
          </div>
          <div class="portfolio-details" role="button" >
            <div class="portfolio-view-details">
              <a
                class="portfolio-big-thumb vbox-item"
                style="background-image: url('{{ item.logo }}');"
              ></a>
            </div>
            <h1>{{ item.projectName }}</h1>
            <p>{{ item.description }}</p>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="d-flex justify-content-center">
      <nav aria-label="Page navigation example">
        <ul class="pagination pg-blue">
          <li class="page-item ">
            <a class="page-link" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link">1</a></li>
          <li class="page-item active">
            <a class="page-link">2 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link">3</a></li>
          <li class="page-item ">
            <a class="page-link">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
